.feed {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 500px;
  margin: auto;
  border-radius: 5px;
  margin-top: 10px;
  text-align: left;
  padding: 15px;
}

.profile-img {
  height: 30px;
  border-radius: 15px;
  width: 30px;
}

.post-text {
  padding: 10px 0px;
}

.gif-img {
  height: 200px;
  width: 60%;
}
